# === CONFIG FILE GENERATION DOCUMENTATION ===
#
# === GLOBAL PARAMETERS ===
# Note: Setup CruiseId and Logbooks
# Note: Datasnap logbook not in this version

Main Tab = NH1208
Group Cruise = NH1208-SE 

# === GENERAL OPTIONS ===
# Note: From general options of elogd.cfg part of administrators guide
Comment =  NH1208_COMMENT
Subject = NH1208 Cruise Log
Page title = NH1208 Cruise Log
Time format = %d %b %Y %H:%M



# === LOGBOOK: Science Eventlog ===


[NH1208-SE]
# === Execute Shell Command ===
# Note: execute shell command to enter a datasnap to DS logbook at new
# Note: needs to run in background
#Execute new = $shell(/shipdata/NH1208/r2r/eventlog/datasnap/CRUISEID_ds2elog.pl &)

# === Execute Shell Command ===
# Note: needs to run in background
Execute new = $shell(echo \"timezone =-9\" > /shipdata/NH1208/r2r/eventlog/elog/scripts/timezone &)


# === Menu: List ===
# Note: Menu list
# Note: Needs to be commented out for local copy, use on synced logbooks
# Note: Used for shore view
Menu commands = List, Find, Help
List Menu commands = List, Find, Help
# Note: Used on ship, config option is in ECFM  
#Menu commands = List, New, Edit, Delete, Reply, Duplicate, Find, Help
#List Menu commands = List, New, Edit, Delete, Reply, Duplicate, Find, Help

# === DISPLAY: List ===
# Note: directives related to how attributes are listed on the display page
# Note: default is ID, Date, <full attribute list>
List display = Event, dateTimeUTC, timeLocal, timeZone, Instrument, Action, Transect, Station, Cast, depthCast, Latitude, Longitude, Seafloor, Author, Comment
Sort attributes = Event


# === DISPLAY: Entry ===
# Note: directives related to how attributes are configured on the data entry page 
# Note: unlock these temporarily if it is necessary to edit the fields
# Note: locked Latitude, Longitude, and Seafloor
##Locked Attributes = Revisions, Cruise, Event, R2R_Event, dateTimeUTC, GPS_Time, Latitude,  Longitude, Seafloor
# Note: unlocked Latitude, Longitude, and Seafloor
Locked Attributes = Revisions, Cruise, Event, R2R_Event, dateTimeUTC, GPS_Time, dateTime8601
Required Attributes = Author, Instrument, Action

# === ATTRIBUTES (GENERAL) ===
# Note: Specify the attributes for this event log
# Note: An event = Instrument + Action; e.g. event = a CTD cast is started
Attributes = Event, Instrument, Action, Transect, Station, Cast, timeLocal, Latitude, Longitude, Seafloor, depthCast, Author, timeZone, Comment, Cruise, R2R_Event, dateTimeUTC, GPS_Time, dateTime8601, Revisions 

# === ATTRIBUTE: Entry Time
# Note: This attribute is generated automatically by ELOG software

# === ATTRIBUTE: Event ===
# Characteristics: Locked
# Note: UTC time-based attributes
# Note: Science event number must be unique within a cruise
# Note: YYYYMMDD.HHMMSS.###
# Note: ### starts at 001 and updates to 002 if the date part of the attribute has not changed
#
Preset Event = $shell(date +%Y%m%d.%H%M).### 
Subst Event = $shell(date +%Y%m%d.%H%M).###
Preset on Duplicate Event = $shell(date +%Y%m%d.%H%M).###

# === ATTRIBUTE: Transect ===
Preset Transect = NaN

# === ATTRIBUTE: Station ===
Preset Station = NaN

# === ATTRIBUTE: Cast
Preset Cast = NaN

# === ATTRIBUTE: timeLocal
# Note: Adjust time local for the local timezone offset from server time in UTC
# Note: This will get complicated if the ship is doing E-W transects across multiple TZs
# Note: timezone code for timeLocal is recorded as an attribute in each record
# Note: e.g. preset TZ = TZ of start port  (newport, OR is -7)
# Note: Need to change timezone as required
Preset timeLocal = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/localtime.pl -o hour)
Preset on duplicate timeLocal = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/localtime.pl -o hour)


# === ATTRIBUTE: timeZone ===
# Note: The actual time zone must be set in the configuration at the top of the script
Preset timeZone = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/localtime.pl -o zone)

# === ATTRIBUTE: Latitude ===
# Characteristics: Locked
Subst Latitude = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/get_gps_latlon -o lat -p 40183) 
Tooltip Latitude = filled on entry

# === ATTRIBUTE: Longitude ===
# Characteristics: Locked
Subst Longitude = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/get_gps_latlon -o lon -p 40183)
Tooltip Longitude = filled on entry

# === ATTRIBUTE: Seafloor ===
# Characteristics:
# Subst Seafloor = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/get_depth -o depth -p 40019)

# === ATTRIBUTE: Comment ===
Preset on Duplicate Comment =
Tooltip Comment = Enter additional information
Comment Comment = Please be brief; no commas

# === ATTRIBUTE: Cruise ===
# Characteristics: Locked
# Note: Get Cruise from Cruise_ID file when on board
Preset Cruise = NH1208 

# === ATTRIBUTE: R2R_Event ===
# Characteristics: Locked
# Note: Preset this attribute and then reset it on submit
Preset R2R_Event = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/r2r_event_se.nh).###
Subst R2R_Event = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/r2r_event_se.nh).###
Preset on Duplicate R2R_Event = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/r2r_event_se.nh).###

# === ATTRIBUTE: dateTimeUTC ===
# Characteristics: Locked
# Note: Preset this attribute and then reset it on submit
# Note: other event number formats
# Note: using UTC YrDay:  Preset Event = $shell(echo 'date -u +%j%y.%H%M`)
Preset dateTimeUTC = $shell(date -u +%Y%m%d.%H%M)
Subst dateTimeUTC = $shell(date -u +%Y%m%d.%H%M)
Preset on Duplicate dateTimeUTC = $shell(date -u +%Y%m%d.%H%M)

# === ATTRIBUTE: GPS_Time ===
# Characteristics: Locked
Subst GPS_Time = $shell(/shipdata/NH1208/r2r/eventlog/elog/scripts/get_gps_latlon -o gps_time -p 40183)
Tooltip GPS_Time = filled on entry

# === ATTRIBUTE: dateTime8601 ===
# Characteristics: Locked
# Note: Preset this attribute and then reset it on submit
# Note: other event number formats
# Note: using ISO 8601 YrDay:  Preset Event = $shell(echo '--iso-8601=seconds`)
Preset dateTime8601 = $shell(date --iso-8601=seconds)
Subst dateTime8601 = $shell(date --iso-8601=seconds)
Preset on Duplicate dateTime8601 = $shell(date --iso-8601=seconds)


# === ATTRIBUTE: Depth ===
Tooltip Depth = filled on entry

# === ATTRIBUTE: Revisions ===
# Characteristics: Locked
# Note:  if we require logins, then revisions could be authored too using $short or $long_name
Preset on Duplicate Revisions =
Subst on Edit Revisions = $Revisions & $date

# === FLAGS ===
# sort order for event display
Reverse sort = 0

# Configure the default behavior
# Do not allow a text entry box with attachments (this is different from the Comment field)
Show text = 0

# Do not allow attachments 
Enable attachments = 0

# Suppress email notification and do not even display email notification option
Suppress default = 3
Suppress Email on edit = 3
Resubmit default = 2

# quick filter options for display
Quick filter = Author, Instrument, Action


#
#
# List of instruments created by elogcfm
#
Options Instrument = Ship{1000}, MOCNESS{1001}, ReeveNet{1002}, CTD911{1003}, CTD-VPR{1004}, Hammarhead{1005}, Echosounder12{1006}, EK60 narrowband{1007}, EK80 broadband{1008}, ADCP{1009}, MICA{1010}, GO pCO2{1011}, ObserverMacroFauna{1012}, Other{1013}, 

#
# List of instrument actions created by elogcfm
#
{1000} ROptions Action = startCruise,endCruise,startTransect,endTransect,startStation,endStation,other
{1001} ROptions Action = start,end,abort,other
{1002} ROptions Action = start,end,abort,other
{1003} ROptions Action = start,end,abort,other
{1004} ROptions Action = start,end,abort,other
{1005} ROptions Action = start,end,abort,other
{1006} ROptions Action = startLine,endLine,abortLine,other
{1007} ROptions Action = start,end,abort,other
{1008} ROptions Action = start,end,abort,other
{1009} ROptions Action = start,stop,other
{1010} ROptions Action = start,end,abort,other
{1011} ROptions Action = start,stop,other
{1012} ROptions Action = start,stop,other
{1013} ROptions Action = start,end,abort,other


#
# End of instrument related portion created by elogcfm
#




#
#
# List of participants created by elogcfm
#
Options Author = gLawson{2000}, pWiebe{2001}, aWang{2002}, lBercial{2003}, aBergan{2004}, sChu{2005}, nCopley{2006}, kHoering{2007}, kKnorr{2008}, rLevine{2009}, aMaas{2010}, kManganini{2011}, lRoger{2012}, nTuttle{2013}, bVoss{2014}, tWhite{2015}, anOther{2016}, 

#
# List of associated affiliations created by elogcfm
#
{2000} Preset Organization = WHOI
{2001} Preset Organization = WHOI
{2002} Preset Organization = WHOI
{2003} Preset Organization = University of Connecticut (UConn)
{2004} Preset Organization = WHOI
{2005} Preset Organization = WHOI
{2006} Preset Organization = WHOI
{2007} Preset Organization = WHOI
{2008} Preset Organization = URI
{2009} Preset Organization = WHOI
{2010} Preset Organization = WHOI
{2011} Preset Organization = WHOI
{2012} Preset Organization = UWA
{2013} Preset Organization = no affiliation
{2014} Preset Organization = WHOI
{2015} Preset Organization = CUNY
{2016} Preset Organization = *** PLEASE ENTER YOUR NAME IN THE COMMENTS AND YOUR ORGANIZATION HERE ***


#
# End of participant related portion created by elogcfm
#




#
# cruise_info.csv
#
#
#"NH1208", "R/V New Horizon", "2012", "8", "9", "Gareth Lawson", "Pteropods & CO2", "transect: 50N 150W to 35N 135W", " "
# 

#
# instrument_list.csv
#
#
#"R2RE/1027","Academic Research Vessel","R2RE/1006","research vessel","Ship","Academic Research Vessel description goes here","Ship","startCruise;endCruise;startTransect;endTransect;startStation;endStation;other","MODIFIED"
#"L221/NETT0097","MOCNESS modified Tucker trawl - Wiebe et al (1976, 1985)","","","MOCNESS","Has a 100 cm x 141 cm rigid mouth opening  with nine 0.333 mm nylon mesh nets 6 meters long. System powered electrically on conducting wire and originally controlled from surface deck unit and now computer controlled.  Sensors include pressure, temperature, conductivity, fluorometer, transmissometer, oxygen, and light. Versions include systems with 1/4, 1, 2, 4, 10 and 20 m2 mouth openings all using the same release mechanisms, sensors, and compute logging and controls [Wiebe and Benfield 2003 Plates 28 D; 29 A-D].","MOCNESS","start;end;abort;other","MODIFIED"
#"L221/NETT0147","Reeve Net","","","ReeveNet","","ReeveNet","start;end;abort;other","MODIFIED"
#"L221/TOOL0058","Sea-Bird SBE 911plus CTD","L05/130","CTD profilers","CTD911","High precision and accuracy CTD comprising an SBE 9plus underwater unit (SBE 3 temperature and SBE 4 conductivity sensors) and an SBE 11plus deck unit. Sensors may be connected to a pump-fed plastic tubing circuit (usually temperature, salinity and oxygen) or stand-alone. All instruments (8 channels available) on the package are logged by the SBE 11. The unit is the production off the shelf version of the SBE 911 (each 911 was custom built to individual specification).","CTD911","start;end;abort;other","MODIFIED"
#"R2RE/1057","Video Plankton Recorder (VPR)  mounted on the CTD frame","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","CTD-VPR","start;end;abort;other","MODIFIED"
#"R2RE/1057","see Terry Hammar (WHOI)","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","Hammarhead","start;end;abort;other","MODIFIED"
#"R2RE/9038","generic 12kHz echosounder","L05/156","single-beam echosounders","Echosounder12","12 kHz echosounder of unknown make/model","Echosounder12","startLine;endLine;abortLine;other","MODIFIED"
#"R2RE/1057","EK60 narrowband acoustic system","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","EK60 narrowband","start;end;abort;other","MODIFIED"
#"R2RE/1057","EK80 broadband acoustic system","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","EK80 broadband","start;end;abort;other","MODIFIED"
#"R2RE/9012","adcp r2r_devtype","L05/115","current profilers","ADCP","(acoustic doppler current profiler) sonar measures water current velocities","ADCP","start;stop;other","MODIFIED"
#"R2RE/9062","Multi-parameter Inorganic Carbon Analyzer","","","MICA","Aleck Wang's sampling system does simultaneous measurements of surface sea water pCO2, TCO2, pH and atmospheric pCO2","MICA","start;end;abort;other","MODIFIED"
#"R2RE/1057","GO underway pCO2 system","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","GO pCO2","start;stop;other","MODIFIED"
#"R2RE/1057","Observer of marine mammal and avian macrofauna","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","ObserverMacroFauna","start;stop;other","MODIFIED"
#"R2RE/1024","Instrument Details Specified Elsewhere","L05/999","unknown","Other","This is a placeholder for eventlogger and other systems that allow users to specify their own instrumentation. Such entries are tagged using this vocabulary term so that the actual instrument make and model can be researched.","Other","start;end;abort;other","MODIFIED"
#

#
# people.csv
#
#
#"101969","Lawson, Gareth","gLawson","WHOI"
#"990000","Wiebe, Peter","pWiebe","WHOI"
#"100814","Wang, Aleck Zhaohui","aWang","WHOI"
#"990001","Leocadio Blanco Bercial","lBercial","University of Connecticut (UConn)"
#"990002","Alex Bergan","aBergan","WHOI"
#"990009","Sophie Chu","sChu","WHOI"
#"990003","Nancy Copley","nCopley","WHOI"
#"990008","Katherine Hoering","kHoering","WHOI"
#"990012","Kelly Knorr","kKnorr","URI"
#"990004","Robert Levine","rLevine","WHOI"
#"990006","Amy Maas","aMaas","WHOI"
#"104633","Kevin Manganini","kManganini","WHOI"
#"990007", "Liza Roger", "lRoger", "UWA"
#"990005","Nick Tuttle","nTuttle","no affiliation"
#"990010","Britta Voss","bVoss","WHOI"
#"990011","Timothy White","tWhite","CUNY"
#

#
# working_info.csv
#
#
#990013,