# === CONFIG FILE GENERATION DOCUMENTATION ===
#
# === GLOBAL PARAMETERS ===
# Note: Setup CruiseId and Logbooks
# Note: Datasnap logbook not in this version

Main Tab = RR1301
Group Cruise = RR1301-SE 

# === GENERAL OPTIONS ===
# Note: From general options of elogd.cfg part of administrators guide
Comment =  RR1301_COMMENT
Subject = RR1301 Cruise Log
Page title = RR1301 Cruise Log
Time format = %d %b %Y %H:%M



# === LOGBOOK: Science Eventlog ===


[RR1301-SE]
# === Execute Shell Command ===
# Note: execute shell command to enter a datasnap to DS logbook at new
# Note: needs to run in background
#Execute new = $shell(/shipdata/RR1301/r2r/eventlog/datasnap/CRUISEID_ds2elog.pl &)


# === Menu: List ===
# Note: Menu list
# Note: Needs to be commented out for local copy, use on synced logbooks
# Note: Used for shore view
#Menu commands = List, Find, Help
#List Menu commands = List, Find, Help
# Note: Used on ship, config option is in ECFM  
Menu commands = List, New, Edit, Delete, Reply, Duplicate, Find, Help
List Menu commands = List, New, Edit, Delete, Reply, Duplicate, Find, Help

# === DISPLAY: List ===
# Note: directives related to how attributes are listed on the display page
# Note: default is ID, Date, <full attribute list>
List display = Event, dateTimeUTC, Instrument, Action, Transect, Station, Cast, Latitude, Longitude, Seafloor, Author, Comment
Sort attributes = Event


# === DISPLAY: Entry ===
# Note: directives related to how attributes are configured on the data entry page 
# Note: unlock these temporarily if it is necessary to edit the fields
# Note: locked Latitude, Longitude, and Seafloor
##Locked Attributes = Revisions, Cruise, Event, R2R_Event, dateTimeUTC, GPS_Time, Latitude,  Longitude, Seafloor
# Note: unlocked Latitude, Longitude, and Seafloor
Locked Attributes = Revisions, Cruise, Event, R2R_Event, dateTimeUTC, GPS_Time, dateTime8601
Required Attributes = Author, Instrument, Action

# === ATTRIBUTES (GENERAL) ===
# Note: Specify the attributes for this event log
# Note: An event = Instrument + Action; e.g. event = a CTD cast is started
Attributes = Event, Instrument, Action, Transect, Station, Cast, Latitude, Longitude, Seafloor, Author, Comment, Cruise, R2R_Event, dateTimeUTC, GPS_Time, dateTime8601, Revisions 

# === ATTRIBUTE: Entry Time
# Note: This attribute is generated automatically by ELOG software

# === ATTRIBUTE: Event ===
# Characteristics: Locked
# Note: UTC time-based attributes
# Note: Science event number must be unique within a cruise
# Note: YYYYMMDD.HHMMSS.###
# Note: ### starts at 001 and updates to 002 if the date part of the attribute has not changed
#
Preset Event = $shell(date +%Y%m%d.%H%M).### 
Subst Event = $shell(date +%Y%m%d.%H%M).###
Preset on Duplicate Event = $shell(date +%Y%m%d.%H%M).###

# === ATTRIBUTE: Transect ===
Preset Transect = NaN

# === ATTRIBUTE: Station ===
Preset Station = NaN

# === ATTRIBUTE: Cast
Preset Cast = NaN

# === ATTRIBUTE: Latitude ===
# Characteristics: Locked
Subst Latitude = $shell(/shipdata/RR1301/r2r/eventlog/elog/scripts/get_gps_latlon -o lat -p 40183) 
Tooltip Latitude = filled on entry

# === ATTRIBUTE: Longitude ===
# Characteristics: Locked
Subst Longitude = $shell(/shipdata/RR1301/r2r/eventlog/elog/scripts/get_gps_latlon -o lon -p 40183)
Tooltip Longitude = filled on entry

# === ATTRIBUTE: Seafloor ===
# Characteristics:
# Subst Seafloor = $shell(/shipdata/RR1301/r2r/eventlog/elog/scripts/get_depth -o depth -p 55200)

# === ATTRIBUTE: Comment ===
Preset on Duplicate Comment =
Tooltip Comment = Enter additional information
Comment Comment = Please be brief; no commas

# === ATTRIBUTE: Cruise ===
# Characteristics: Locked
# Note: Get Cruise from Cruise_ID file when on board
Preset Cruise = RR1301 

# === ATTRIBUTE: R2R_Event ===
# Characteristics: Locked
# Note: Preset this attribute and then reset it on submit
Preset R2R_Event = $shell(/shipdata/RR1301/r2r/eventlog/elog/scripts/r2r_event_se.rr).###
Subst R2R_Event = $shell(/shipdata/RR1301/r2r/eventlog/elog/scripts/r2r_event_se.rr).###
Preset on Duplicate R2R_Event = $shell(/shipdata/RR1301/r2r/eventlog/elog/scripts/r2r_event_se.rr).###

# === ATTRIBUTE: dateTimeUTC ===
# Characteristics: Locked
# Note: Preset this attribute and then reset it on submit
# Note: other event number formats
# Note: using UTC YrDay:  Preset Event = $shell(echo 'date -u +%j%y.%H%M`)
Preset dateTimeUTC = $shell(date -u +%Y%m%d.%H%M)
Subst dateTimeUTC = $shell(date -u +%Y%m%d.%H%M)
Preset on Duplicate dateTimeUTC = $shell(date -u +%Y%m%d.%H%M)

# === ATTRIBUTE: GPS_Time ===
# Characteristics: Locked
Subst GPS_Time = $shell(/shipdata/RR1301/r2r/eventlog/elog/scripts/get_gps_latlon -o gps_time -p 40183)
Tooltip GPS_Time = filled on entry

# === ATTRIBUTE: dateTime8601 ===
# Characteristics: Locked
# Note: Preset this attribute and then reset it on submit
# Note: other event number formats
# Note: using ISO 8601 YrDay:  Preset Event = $shell(echo '--iso-8601=seconds`)
Preset dateTime8601 = $shell(date --iso-8601=seconds)
Subst dateTime8601 = $shell(date --iso-8601=seconds)
Preset on Duplicate dateTime8601 = $shell(date --iso-8601=seconds)


# === ATTRIBUTE: Depth ===
Tooltip Depth = filled on entry

# === ATTRIBUTE: Revisions ===
# Characteristics: Locked
# Note:  if we require logins, then revisions could be authored too using $short or $long_name
Preset on Duplicate Revisions =
Subst on Edit Revisions = $Revisions & $date

# === FLAGS ===
# sort order for event display
Reverse sort = 0

# Configure the default behavior
# Do not allow a text entry box with attachments (this is different from the Comment field)
Show text = 0

# Do not allow attachments 
Enable attachments = 0

# Suppress email notification and do not even display email notification option
Suppress default = 3
Suppress Email on edit = 3
Resubmit default = 2

# quick filter options for display
Quick filter = Author, Instrument, Action



#
#
# List of instruments created by elogcfm
#
Options Instrument = EM122{1000}, XBT{1001}, Ship{1002}, ADCP150{1003}, ADCP75{1004}, Other{1005}, Navigation{1006}, Navigation 2{1007}, Navigation 3{1008}, 

#
# List of instrument actions created by elogcfm
#
{1000} ROptions Action = start,stop,other,startLine,endLine,abortLine
{1001} ROptions Action = release
{1002} ROptions Action = startCruise,endCruise,other
{1003} ROptions Action = start,stop,service,other
{1004} ROptions Action = start,stop,service,other
{1005} ROptions Action = start,end
{1006} ROptions Action = faultGPS,faultGyro
{1007} ROptions Action = other
{1008} ROptions Action = other


#
# End of instrument related portion created by elogcfm
#




#
#
# List of participants created by elogcfm
#
Options Author = vFerrini{2000}, pJohnson{2001}, jBeaudoin{2002}, aFlinders{2003}, kJerram{2004}, eMininberg{2005}, anOther{2006}, 

#
# List of associated affiliations created by elogcfm
#
{2000} Preset Organization = LDEO
{2001} Preset Organization = UNH
{2002} Preset Organization = UNH
{2003} Preset Organization = UNH
{2004} Preset Organization = UNH
{2005} Preset Organization = Colby
{2006} Preset Organization = *** PLEASE ENTER YOUR NAME IN THE COMMENTS AND YOUR ORGANIZATION HERE ***


#
# End of participant related portion created by elogcfm
#




#
# cruise_info.csv
#
#
#"RR1301", "R/V Roger Revelle", "2013", "1", "20", "Bruce Applegate", " ", " ", " "
# 

#
# instrument_list.csv
#
#
#"R2RE/1008","Kongsberg (Simrad) EM 122 multibeam echosounder","L05/157","multi-beam echosounders","EM122","EM 122 multibeam echosounder is a high performance echosounder for deep water mapping with up to 288 simultaneous beams.","EM122","start;stop;other;startLine;endLine;abortLine","MODIFIED"
#"R2RE/1031","Generic XBT","L05/132","bathythermographs","XBT","The Expendable Bathythermograph (XBT) has been used by oceanographers for many years to obtain information on the temperature structure of the ocean to depths of up to 1500 meters. ","XBT","release","0"
#"R2RE/1027","Academic Research Vessel","R2RE/1006","research vessel","Ship","Academic Research Vessel description goes here","Ship","startCruise;endCruise;other","0"
#"L221/TOOL0062","Teledyne RDI 150kHz Narrowband Vessel-Mounted ADCP","L05/115","current profilers","ADCP150","The Teledyne RDI Narrowband Vessel-Mounted Acoustic Doppler Current Profiler is a long-range 3D current profiling ADCP designed for continuous current profiling from a moving ship. It has 150kHz narrowband signal processing and a patented 4 beam design.","ADCP150","start;stop;service;other","0"
#"R2RE/1003","Generic ADCP75","L05/115","current profilers","ADCP75","An Acoustic Doppler Current Profiler, or Acoustic Doppler Profiler, is often referred to with the acronym ADCP. Scientists use the instrument to measure how fast water is moving across an entire water column. An ADCP anchored to the seafloor can measure current speed not just at the bottom, but also at equal intervals all the way up to the surface. The instrument can also be mounted horizontally on seawalls or bridge pilings in rivers and canals to measure the current profile from shore to shore, and to the bottoms of ships to take constant current measurements as the boats move. In very deep areas, they can be lowered on a cable from the surface.  The ADCP measures water currents with sound (75kHz), using a principle of sound waves called the Doppler effect.","ADCP75","start;stop;service;other","0"
#"R2RE/1024","Instrument Details Specified Elsewhere","L05/999","unknown","Other","This is a placeholder for eventlogger and other systems that allow users to specify their own instrumentation. Such entries are tagged using this vocabulary term so that the actual instrument make and model can be researched.","Other","start;end","0"
#"L221/TOOL0304","IXSEA Photonic Inertial Navigation System","L05/POS19","inertial navigation systems","Navigation","PHINS, or PHotonic Inertial Navigation System (INS) that outputs position, heading, pitch, roll, heave, depth and velocity. The PHINS uses a high accuracy inertial measurement unit and produces positional data with an accuracy ranging from metres to cm, depending on the specific instrumentation setup. INS drift performance is known to be inadequate without a velocity input from an ADCP.","Navigation","faultGPS;faultGyro","0"
#"R2RE/1057","IXSEA Hydrins","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","Navigation 2","other","MODIFIED"
#"R2RE/1057","Seapath 330","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","Navigation 3","other","MODIFIED"
#

#
# people.csv
#
#
#"100163","Ferrini, Vicki","vFerrini","LDEO"
#"990000","Johnson, Paul","pJohnson","UNH"
#"990001","Beaudoin, Jonathan","jBeaudoin","UNH"
#"990002","Flinders, Ashton","aFlinders","UNH"
#"990003", "Jerram, Kevin", "kJerram", "UNH"
#"990004","Mininberg, Emily","eMininberg","Colby"
#

#
# working_info.csv
#
#
#990005,