# === CONFIG FILE GENERATION DOCUMENTATION ===
#
# === GLOBAL PARAMETERS ===
# Note: Setup CruiseId and Logbooks
# Note: Datasnap logbook not in this version

Main Tab = EN520
Group Cruise = EN520-SE 

# === GENERAL OPTIONS ===
# Note: From general options of elogd.cfg part of administrators guide
Comment =  EN520_COMMENT
Subject = EN520 Cruise Log
Page title = EN520 Cruise Log
Time format = %d %b %Y %H:%M



# === LOGBOOK: Science Eventlog ===


[EN520-SE]
# === Execute Shell Command ===
# Note: execute shell command to enter a datasnap to DS logbook at new
# Note: needs to run in background
#Execute new = $shell(/shipdata/EN520/r2r/eventlog/datasnap/CRUISEID_ds2elog.pl &)


# === Menu: List ===
# Note: Menu list
# Note: Needs to be commented out for local copy, use on synced logbooks
# Note: Used for shore view
Menu commands = List, Find, Help
List Menu commands = List, Find, Help
# Note: Used on ship, config option is in ECFM  
#Menu commands = List, New, Edit, Delete, Reply, Duplicate, Find, Help
#List Menu commands = List, New, Edit, Delete, Reply, Duplicate, Find, Help

# === DISPLAY: List ===
# Note: directives related to how attributes are listed on the display page
# Note: default is ID, Date, <full attribute list>
List display = Event, dateTimeUTC, Instrument, Action, Transect, Station, Cast, Latitude, Longitude, Seafloor, Author, Comment
Sort attributes = Event


# === DISPLAY: Entry ===
# Note: directives related to how attributes are configured on the data entry page 
# Note: unlock these temporarily if it is necessary to edit the fields
# Note: locked Latitude, Longitude, and Seafloor
##Locked Attributes = Revisions, Cruise, Event, R2R_Event, dateTimeUTC, GPS_Time, Latitude,  Longitude, Seafloor
# Note: unlocked Latitude, Longitude, and Seafloor
Locked Attributes = Revisions, Cruise, Event, R2R_Event, dateTimeUTC, GPS_Time, dateTime8601
Required Attributes = Author, Instrument, Action

# === ATTRIBUTES (GENERAL) ===
# Note: Specify the attributes for this event log
# Note: An event = Instrument + Action; e.g. event = a CTD cast is started
Attributes = Event, Instrument, Action, Transect, Station, Cast, Latitude, Longitude, Seafloor, Author, Comment, Cruise, R2R_Event, dateTimeUTC, GPS_Time, dateTime8601, Revisions 

# === ATTRIBUTE: Entry Time
# Note: This attribute is generated automatically by ELOG software

# === ATTRIBUTE: Event ===
# Characteristics: Locked
# Note: UTC time-based attributes
# Note: Science event number must be unique within a cruise
# Note: YYYYMMDD.HHMMSS.###
# Note: ### starts at 001 and updates to 002 if the date part of the attribute has not changed
#
Preset Event = $shell(date +%Y%m%d.%H%M).### 
Subst Event = $shell(date +%Y%m%d.%H%M).###
Preset on Duplicate Event = $shell(date +%Y%m%d.%H%M).###

# === ATTRIBUTE: Transect ===
Preset Transect = NaN

# === ATTRIBUTE: Station ===
Preset Station = NaN

# === ATTRIBUTE: Cast
Preset Cast = NaN

# === ATTRIBUTE: Latitude ===
# Characteristics: Locked
Subst Latitude = $shell(/shipdata/EN520/r2r/eventlog/elog/scripts/get_gps_latlon -o lat -p 16001) 
Tooltip Latitude = filled on entry

# === ATTRIBUTE: Longitude ===
# Characteristics: Locked
Subst Longitude = $shell(/shipdata/EN520/r2r/eventlog/elog/scripts/get_gps_latlon -o lon -p 16001)
Tooltip Longitude = filled on entry

# === ATTRIBUTE: Seafloor ===
# Characteristics:
# Subst Seafloor = $shell(/shipdata/EN520/r2r/eventlog/elog/scripts/get_depth -o depth -p 16007)

# === ATTRIBUTE: Comment ===
Preset on Duplicate Comment =
Tooltip Comment = Enter additional information
Comment Comment = Please be brief; no commas

# === ATTRIBUTE: Cruise ===
# Characteristics: Locked
# Note: Get Cruise from Cruise_ID file when on board
Preset Cruise = EN520 

# === ATTRIBUTE: R2R_Event ===
# Characteristics: Locked
# Note: Preset this attribute and then reset it on submit
Preset R2R_Event = $shell(/shipdata/EN520/r2r/eventlog/elog/scripts/r2r_event_se.en).###
Subst R2R_Event = $shell(/shipdata/EN520/r2r/eventlog/elog/scripts/r2r_event_se.en).###
Preset on Duplicate R2R_Event = $shell(/shipdata/EN520/r2r/eventlog/elog/scripts/r2r_event_se.en).###

# === ATTRIBUTE: dateTimeUTC ===
# Characteristics: Locked
# Note: Preset this attribute and then reset it on submit
# Note: other event number formats
# Note: using UTC YrDay:  Preset Event = $shell(echo 'date -u +%j%y.%H%M`)
Preset dateTimeUTC = $shell(date -u +%Y%m%d.%H%M)
Subst dateTimeUTC = $shell(date -u +%Y%m%d.%H%M)
Preset on Duplicate dateTimeUTC = $shell(date -u +%Y%m%d.%H%M)

# === ATTRIBUTE: GPS_Time ===
# Characteristics: Locked
Subst GPS_Time = $shell(/shipdata/EN520/r2r/eventlog/elog/scripts/get_gps_latlon -o gps_time -p 16001)
Tooltip GPS_Time = filled on entry

# === ATTRIBUTE: dateTime8601 ===
# Characteristics: Locked
# Note: Preset this attribute and then reset it on submit
# Note: other event number formats
# Note: using ISO 8601 YrDay:  Preset Event = $shell(echo '--iso-8601=seconds`)
Preset dateTime8601 = $shell(date --iso-8601=seconds)
Subst dateTime8601 = $shell(date --iso-8601=seconds)
Preset on Duplicate dateTime8601 = $shell(date --iso-8601=seconds)


# === ATTRIBUTE: Depth ===
Tooltip Depth = filled on entry

# === ATTRIBUTE: Revisions ===
# Characteristics: Locked
# Note:  if we require logins, then revisions could be authored too using $short or $long_name
Preset on Duplicate Revisions =
Subst on Edit Revisions = $Revisions & $date

# === FLAGS ===
# sort order for event display
Reverse sort = 0

# Configure the default behavior
# Do not allow a text entry box with attachments (this is different from the Comment field)
Show text = 0

# Do not allow attachments 
Enable attachments = 0

# Suppress email notification and do not even display email notification option
Suppress default = 3
Suppress Email on edit = 3
Resubmit default = 2

# quick filter options for display
Quick filter = Author, Instrument, Action

#
#
# List of instruments created by elogcfm
#
Options Instrument = CTD911{1000}, ISP{1001}, netTrap{1002}, planktonTowCTD{1003}, sedTrapMooring{1004}, sedimentCorer{1005}, Ship{1006}, ADCP75{1007}, ADCP300{1008}, Echosounder3.5{1009}, Thermosalinograph SBE45{1010}, MeteorologicalSensor{1011}, Fluorometer{1012}, XBT{1013}, Other{1014}, 

#
# List of instrument actions created by elogcfm
#
{1000} ROptions Action = deploy,maxDepth,recover,abort,other
{1001} ROptions Action = deploy,recover,abort,other
{1002} ROptions Action = deploy,recover,abort,other
{1003} ROptions Action = start,end,abort,other
{1004} ROptions Action = deployStart,deployEnd,recoveryStart,recoveryEnd,other
{1005} ROptions Action = deploy,recover,abort,other
{1006} ROptions Action = startCruise,endCruise,other
{1007} ROptions Action = start,stop,service,other
{1008} ROptions Action = start,stop,service,other
{1009} ROptions Action = startLine,endLine,abortLine
{1010} ROptions Action = startLine,endLine,abortLine,sampleLine
{1011} ROptions Action = start,stop,other,
{1012} ROptions Action = startLine,endLine,abortLine,sampleLine
{1013} ROptions Action = release
{1014} ROptions Action = start,end


#
# End of instrument related portion created by elogcfm
#




#
#
# List of participants created by elogcfm
#
Options Author = dBlack{2000}, cLee{2001}, cCisternas-Novoa{2002}, tDammrich{2003}, pFitzgerald{2004}, aGuihou{2005}, tKing{2006}, aPratt{2007}, sRahman{2008}, aTeacher{2009}, wWang{2010}, anOther{2011}, 

#
# List of associated affiliations created by elogcfm
#
{2000} Preset Organization = Stony Brook
{2001} Preset Organization = Stony Brook
{2002} Preset Organization = Stony Brook
{2003} Preset Organization = Alfred Wagner Institute, Germany
{2004} Preset Organization = Stony Brook
{2005} Preset Organization = Stony Brook
{2006} Preset Organization = Stony Brook
{2007} Preset Organization = Stony Brook
{2008} Preset Organization = Stony Brook
{2009} Preset Organization = unknown
{2010} Preset Organization = Stony Brook
{2011} Preset Organization = *** PLEASE ENTER YOUR NAME IN THE COMMENTS AND YOUR ORGANIZATION HERE ***


#
# End of participant related portion created by elogcfm
#




#
# cruise_info.csv
#
#
#"EN520", "R/V Endeavor", "2012", "8", "15", "David Black", "BaRFlux", "Bermuda Rise", "BaRFlux IV"
#

#
# instrument_list.csv
#
#
#"L221/TOOL0058","Sea-Bird SBE 911plus CTD","L05/130","CTD profilers","CTD911","High precision and accuracy CTD comprising an SBE 9plus underwater unit (SBE 3 temperature and SBE 4 conductivity sensors) and an SBE 11plus deck unit. Sensors may be connected to a pump-fed plastic tubing circuit (usually temperature, salinity and oxygen) or stand-alone. All instruments (8 channels available) on the package are logged by the SBE 11. The unit is the production off the shelf version of the SBE 911 (each 911 was custom built to individual specification).","CTD911","deploy;maxDepth;recover;abort;other","0"
#"R2RE/1057","sediment trap","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","ISP","deploy;recover;abort;other","MODIFIED"
#"R2RE/1057", "a net trap system", "R2RE/1010", "user specified", "UserSpecified", "Instrument that does not have a controlled vocabulary term", "netTrap", "deploy;recover;abort;other", "MODIFIED"
#"R2RE/1057","plankton tow CTD","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","planktonTowCTD","start;end;abort;other","MODIFIED"
#"R2RE/1057","sediment trap mooring","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","sedTrapMooring","deployStart;deployEnd;recoveryStart;recoveryEnd;other","MODIFIED"
#"R2RE/1057","generic sediment coring device","R2RE/1010","user specified","UserSpecified","Instrument that does not have a controlled vocabulary term","sedimentCorer","deploy;recover;abort;other","MODIFIED"
#"R2RE/1027","Academic Research Vessel","R2RE/1006","research vessel","Ship","Academic Research Vessel description goes here","Ship","startCruise;endCruise;other","MODIFIED"
#"R2RE/1003","Generic ADCP75","L05/115","current profilers","ADCP75","An Acoustic Doppler Current Profiler, or Acoustic Doppler Profiler, is often referred to with the acronym ADCP. Scientists use the instrument to measure how fast water is moving across an entire water column. An ADCP anchored to the seafloor can measure current speed not just at the bottom, but also at equal intervals all the way up to the surface. The instrument can also be mounted horizontally on seawalls or bridge pilings in rivers and canals to measure the current profile from shore to shore, and to the bottoms of ships to take constant current measurements as the boats move. In very deep areas, they can be lowered on a cable from the surface.  The ADCP measures water currents with sound (75kHz), using a principle of sound waves called the Doppler effect.","ADCP75","start;stop;service;other","0"
#"R2RE/1005","Generic ADCP300","L05/115","current profilers","ADCP300","A Doppler velocity log (DVL) measuring bottom track and water track velocities, altitude, heading, tilt, temperature, echo intensity, pressure and current velocities. 300kHz Broadband signal processing gives high data resolution and a four-beam solution gives an independent error velocity measurement as an indicator of data quality. It has a bottom track range of 200m and velocity accuracy for both bottom and water track modes is 0.4% of the velocity, ±0.2cm/s. The instrument operates effectively over a temperature range of -5°C to 45°C and with a tilt of up to ±15 deg.","ADCP300","start;stop;service;other","MODIFIED"
#"R2RE/9039","generic 3.5kHz echosounder","L05/156","single-beam echosounders","Echosounder3.5","3.5 kHz echosounder of unknown make/model","Echosounder3.5","startLine;endLine;abortLine","0"
#"L221/TOOL0190","Sea-Bird SBE45 MicroTSG thermosalinograph","L05/133","thermosalinographs","Thermosalinograph SBE45","A small externally powered, high-accuracy instrument, designed for shipboard determination of sea surface (pumped-water) conductivity and temperature. It is constructed of plastic and titanium to ensure long life with minimum maintenance. It may optionally be interfaced to an external SBE 38 hull temperature sensor.","Thermosalinograph SBE45","startLine;endLine;abortLine;sampleLine","0"
#"R2RE/1015","Generic Meterological Sensor","L05/102","meteorological packages","MeteorologicalSensor","Generic Meterological Sensor description goes here","MeteorologicalSensor","start;stop;other;","0"
#"R2RE/9018","fluorometer r2r_devtype","L05/113","fluorometers","Fluorometer","measures fluorescence (usually for phytoplankton)","Fluorometer","startLine;endLine;abortLine;sampleLine","0"
#"R2RE/1031","Generic XBT","L05/132","bathythermographs","XBT","The Expendable Bathythermograph (XBT) has been used by oceanographers for many years to obtain information on the temperature structure of the ocean to depths of up to 1500 meters. ","XBT","release","0"
#"R2RE/1024","Instrument Details Specified Elsewhere","L05/999","unknown","Other","This is a placeholder for eventlogger and other systems that allow users to specify their own instrumentation. Such entries are tagged using this vocabulary term so that the actual instrument make and model can be researched.","Other","start;end","0"
#

#
# people.csv
#
#
#"104642","Black, David","dBlack","Stony Brook"
#"990000","Cindy Lee","cLee","Stony Brook"
#"990007","Carolina Cisternas-Novoa","cCisternas-Novoa","Stony Brook"
#"990012","Thea Dammrich","tDammrich","Alfred Wagner Institute, Germany"
#"990005","Patrick Fitzgerald","pFitzgerald","Stony Brook"
#"990011","Abel Guihou","aGuihou","Stony Brook"
#"990004","Theresa King","tKing","Stony Brook"
#"990003","Amanda Pratt","aPratt","Stony Brook"
#"990013","Shaily Rahman","sRahman","Stony Brook"
#"990014","URI Affiliated Teacher","aTeacher","unknown"
#"990006","Weilei Wang","wWang","Stony Brook"
#

#
# working_info.csv
#
#
#990015,
